.header {
  width: 100%; }
  .header.has-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; }

.header-main {
  width: 100%;
  background-image: url("../images/bg_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header-main .logo {
    width: 480px;
    height: auto; }
    .header-main .logo img {
      vertical-align: middle;
      width: 100%; }
  .header-main .action-header {
    padding-right: 25px;
    display: flex;
    align-items: center; }
    .header-main .action-header ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .header-main .action-header ul li {
        margin-right: 25px;
        position: relative; }
        .header-main .action-header ul li img {
          vertical-align: middle; }
        .header-main .action-header ul li.has-child .admin {
          line-height: 65px; }
        .header-main .action-header ul li.has-child:hover .drop-user {
          display: flex; }
        .header-main .action-header ul li.has-child .drop-user {
          position: absolute;
          width: 220px;
          height: max-content;
          background: #fff;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          left: 0;
          -webkit-box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
          box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
          transition: .3s ease-out;
          animation: show_drop .5s forwards;
          border-radius: 0px 0px 9px 9px;
          overflow: hidden;
          display: none;
          z-index: 988; }
          .header-main .action-header ul li.has-child .drop-user li {
            width: 100%; }
            .header-main .action-header ul li.has-child .drop-user li:hover a {
              background: #D1E5CF; }
            .header-main .action-header ul li.has-child .drop-user li a {
              color: #333;
              font-size: 16px;
              padding: 10px 0px 10px 10px;
              display: block;
              width: 100%; }
        .header-main .action-header ul li button {
          border: none;
          outline: none;
          background: none;
          position: relative;
          padding: 0;
          margin: 0; }
          .header-main .action-header ul li button .noti {
            position: absolute;
            width: 17px;
            height: 17px;
            background: #EC3039;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            color: #fff;
            font-weight: bold;
            top: -2px;
            right: -1px; }
          .header-main .action-header ul li button img {
            width: 40px;
            height: 38px; }
        .header-main .action-header ul li .admin {
          display: flex;
          align-items: center;
          cursor: pointer;
          user-select: none; }
          .header-main .action-header ul li .admin img {
            width: 40px;
            height: 40px; }
          .header-main .action-header ul li .admin .name-user {
            color: #fff;
            font-size: 16px;
            padding-top: 2px;
            padding-left: 6.5px; }
        .header-main .action-header ul li:first-child {
          padding-left: unset; }
          .header-main .action-header ul li:first-child::before {
            display: none; }
        .header-main .action-header ul li:last-child::after {
          content: "\f0d7";
          font-family: "fontawesome";
          font-size: 18px;
          color: #fff;
          right: -25px;
          top: 55%;
          transform: translateY(-50%);
          position: absolute; }
  .header-main .moblie-bar {
    display: none;
    margin-right: 10px;
    position: relative;
    padding-right: 10px; }
    .header-main .moblie-bar::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5px;
      height: 30.4px;
      background: #fff; }
    .header-main .moblie-bar button {
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
      font-size: 25px;
      margin-bottom: unset;
      padding: unset;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header-main .moblie-bar button.hc-nav-trigger {
        position: static; }

.header-bottom {
  background: #67A961;
  border-top: 2px solid #001A1E; }
  .header-bottom .nav-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .header-bottom .nav-menu li.active a {
      background: #fff;
      color: #00923F; }
      .header-bottom .nav-menu li.active a .ic-menu img:last-child {
        display: block; }
      .header-bottom .nav-menu li.active a .ic-menu img:first-child {
        display: none; }
    .header-bottom .nav-menu li.has-child:hover .drop-menu {
      display: flex; }
    .header-bottom .nav-menu li.has-child .drop-menu {
      flex-direction: column;
      align-items: flex-start;
      background: #fff;
      position: absolute;
      z-index: 99;
      -webkit-box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
      box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
      transition: .3s ease-out;
      display: none;
      animation: show_drop .5s forwards;
      border-radius: 0px 0px 9px 9px;
      overflow: hidden; }
@keyframes show_drop {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none; }
  100% {
    opacity: 1;
    visibility: visible;
    display: flex; } }
      .header-bottom .nav-menu li.has-child .drop-menu li {
        margin-right: unset;
        transition: .3s ease-out;
        width: 100%; }
        .header-bottom .nav-menu li.has-child .drop-menu li.active a {
          background: #D1E5CF; }
        .header-bottom .nav-menu li.has-child .drop-menu li:hover a {
          background: #D1E5CF; }
        .header-bottom .nav-menu li.has-child .drop-menu li a {
            font-size: 14px;
            color: #333333;
            position: relative;
            display: block;
            font-weight: normal;
            padding-left: 18px;
            width: 100%; 
            line-height: 0;
            padding: 10px 20px 10px 20px; 
            height: 35px;
        }
            .header-bottom .nav-menu li.has-child .drop-menu li a span {
                font-family: 'Roboto';
                font-size: 14px;
                top: 50%;
                position: relative;
            }
          .header-bottom .nav-menu li.has-child .drop-menu li a::before {
            content: "\f105";
            font-family: "fontawesome";
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%); }
    .header-bottom .nav-menu li a {
      padding: 7px 15px;
      font-size: 16px;
      color: #fff;
      transition: .3s ease-out;
      display: block;
      font-weight: bold; }
      .header-bottom .nav-menu li a:hover {
        background: #fff;
        color: #00923F; }
        .header-bottom .nav-menu li a:hover .ic-menu img:last-child {
          display: block; }
        .header-bottom .nav-menu li a:hover .ic-menu img:first-child {
          display: none; }
      .header-bottom .nav-menu li a span {
        padding-top: 8px;
        display: block; }
      .header-bottom .nav-menu li a .ic-menu {
        text-align: center;
        height: 18px; }
        .header-bottom .nav-menu li a .ic-menu img {
          display: block;
          margin: auto;
          object-fit: contain; }
          .header-bottom .nav-menu li a .ic-menu img:last-child {
            display: none; }
  .header-bottom .back-lend {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    transition: .3s ease-out; }
    .header-bottom .back-lend .img-hover {
      width: 19.65px;
      height: 17.4px;
      background-image: url("../images/ic_back_lend.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      transition: .3s ease-out; }
    .header-bottom .back-lend span {
      margin-right: 8.5px; }
    @media only screen and (max-width: 886px) {
      .header-bottom .back-lend {
        display: none; } }
    .header-bottom .back-lend:hover {
      color: #015E2D; }
      .header-bottom .back-lend:hover .img-hover {
        background-image: url("../images/ic_back_lend_hover.svg"); }

/*# sourceMappingURL=header.css.map */
