################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#/.vs/WebApp/v16/Server/sqlite3
/.vs
/Data/bin
/Data/obj
/WebApp/bin
/WebApp/obj
/Common/bin
/Common/obj
/SyncApp/bin
/SyncApp/obj
/Model/bin
/Model/obj
/WebBVTLAPI/bin
/WebBVTLAPI/obj
*.suo
*.ide
*.pdb
*.cache

# Secret/Configuration files
*connectionStrings.config
*appSettings.config

# Test build artifacts & test results
/BVTL.Tests/bin
/BVTL.Tests/obj
TestResults/
[Tt]est[Rr]esult*

# Logs & AutoSync logs
*.log
/WebApp/Log/

# User-specific files
*.csproj.user
*.user

