################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.log
/WebApp/bin
/WebApp/obj
/Common/bin
/Common/obj/Debug
/Data/bin
/Data/obj/Debug
/Model/bin
/Model/obj/Debug
/SyncApp/bin
/SyncApp/obj/Debug
/.vs
