#footer {
    background: #999999;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 23px;
    
    &.no-fixed{
        position: static;
        margin-top: 20px;
    }
 
    p{
        color: #333333;
        font-size: 15px;
        line-height: 0.9;
        font-style: italic;
        padding: 10px 0px;
        display: block;
        text-align: center;
    }
 }
 