
.header{
    width: 100%;

    &.has-fixed{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}


.header-main{
    width: 100%;
    background-image: url("../images/bg_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .logo{
        width: 480px;
        height: auto;

        img{
            vertical-align: middle;
            width: 100%;
        }
    }

    .action-header{
        padding-right: 25px;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            li{
                margin-right: 25px;
                position: relative;

                img{
                    vertical-align: middle;
                }
                
                &.has-child{
                    .admin{
                        line-height: 65px;
                    }

                    &:hover{
                        .drop-user{
                            display: flex;
                        }
                    }
                    
                    .drop-user{
                        position: absolute;
                        width: 220px;
                        height: max-content;
                        background: #fff;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        left: 0;
                        -webkit-box-shadow: 1px 1px 6px 2px rgba(223,223,223,0.8); 
                        box-shadow: 1px 1px 6px 2px rgba(223,223,223,0.8);
                        transition: .3s ease-out;
                        animation: show_drop .5s forwards;
                        border-radius: 0px 0px 9px 9px;
                        overflow: hidden;
                        display: none;
                        z-index: 988;
                        li{
                            width: 100%;
                            &:hover{
                                a{
                                    background: #D1E5CF;
                                }
                            }
                            a{
                                color: #333;
                                font-size: 16px;
                                padding: 10px 0px 10px 10px;
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }


                button{
                    border: none;
                    outline: none;
                    background: none;
                    position: relative;
                    padding: 0;
                    margin: 0;

                    .noti{
                        position: absolute;
                        width: 17px;
                        height: 17px;
                        background: #EC3039;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 10px;
                        color: #fff;
                        font-weight: bold;
                        top: -2px;
                        right: -1px;
                    }

                    img{
                        width: 40px;
                        height: 38px;
                    }
                }

                .admin{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;

                    img{
                        width: 40px;
                        height: 40px;
                    }

                    .name-user{
                        color: #fff;
                        font-size: 16px;
                        padding-top: 2px;
                        padding-left: 6.5px;
                    }
                }

                &:first-child{
                    padding-left: unset;
                    &::before{
                        display: none;
                    }
                }

                &:last-child{
                    &::after{
                        content:"\f0d7";
                        font-family: "fontawesome";
                        font-size: 18px;
                        color: #fff;
                        right: -25px;
                        top: 55%;
                        transform: translateY(-50%);
                        position: absolute;
                        
                    }
                }
            }
        }
    }

    .moblie-bar{
        display: none;
        margin-right: 10px;
        position: relative;
        padding-right: 10px;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1.5px;
            height: 30.4px;
            background: #fff;
        }
        button{
            border:none;
            outline: none;
            background: transparent;
            color: #fff;
            font-size: 25px;
            margin-bottom: unset;
            padding: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            &.hc-nav-trigger{
                position: static;
            }
        }
    }
}

.header-bottom{
    background: #67A961;
    border-top: 2px solid #001A1E;
    .nav-menu{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li{

            &.active{
                a{
                    background: #fff;
                    color: #00923F;

                    .ic-menu{
                        img{
                            &:last-child{
                                display: block;
                            }
    
                            &:first-child{
                                display: none;
                            }
                        }
                    }
                }
            }

            &.has-child{

                &:hover{
                    .drop-menu{
                        
                        display: flex;
                    }
                }

                .drop-menu{
                    flex-direction: column;
                    align-items: flex-start;
                    background: #fff;
                    position: absolute;
                    z-index: 99;
                    -webkit-box-shadow: 1px 1px 6px 2px rgba(223,223,223,0.8); 
                    box-shadow: 1px 1px 6px 2px rgba(223,223,223,0.8);
                    transition: .3s ease-out;
                    display: none;
                    animation: show_drop .5s forwards;
                    border-radius: 0px 0px 9px 9px;
                    overflow: hidden;

                    @keyframes show_drop {
                        0%{
                            opacity: 0;
                            visibility: hidden;
                            display: none;
                        }

                        100%{
                            opacity: 1;
                            visibility: visible;
                            display: flex;
                        }
                    }

                    li{
                        margin-right: unset;
                        transition: .3s ease-out;
                        width: 100%;

                        &.active{
                            a{
                                background: #D1E5CF;
                            }
                        }

                        &:hover{
                            a{
                                background: #D1E5CF;
                            }
                        }

                        a{
                            font-size: 14px;
                            color: #333333;
                            position: relative;
                            display: block;
                            font-weight: normal;
                            padding-left: 18px;
                            width: 100%;
                            line-height: 22px;
                            padding: 10px 20px 10px 20px;
                            display: block;
                            &::before{
                                content:"\f105";
                                font-family: "fontawesome";
                                position: absolute;
                                left: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            
            a{
                padding: 7px 15px;
                font-size: 16px;
                color: #fff;
                transition: .3s ease-out;
                display: block;
                font-weight: bold;
                
                &:hover{
                    background: #fff;
                    color: #00923F;

                    .ic-menu{
                        img{
                            &:last-child{
                                display: block;
                            }
    
                            &:first-child{
                                display: none;
                            }
                        }
                    }
                    
                }

                span{
                    padding-top: 8px;
                    display: block;
                }

                .ic-menu{
                    text-align: center;
                    height: 18px;

                    img{
                        display: block;
                        margin: auto;
                        object-fit: contain;
                        &:last-child{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .back-lend{
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #fff;
        transition: .3s ease-out;
       
        .img-hover{
            width: 19.65px;
            height: 17.4px;
            background-image: url("../images/ic_back_lend.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            transition: .3s ease-out;
        }

        span{
            margin-right: 8.5px;
        }

        @media only screen and (max-width: 886px){
            &{
                display: none;
            }
        }

        &:hover{
            color: #015E2D;
            .img-hover{
                background-image: url("../images/ic_back_lend_hover.svg");
            }
        }
    }
}