/*Notification*/
.dropdown-navbar {
    padding: 0;
    width: 380px;
    -webkit-box-shadow: 0 2px 4px rgba(30,30,100,.25);
    box-shadow: 0 2px 4px rgba(30,30,100,.25);
    border-color: #97d6b5;
    z-index: 1200;
    top: 42px;
} 
.dropdown-notify ul li.dropdown-header
{
    width:100%;
    font-size:14px;
}
.dropdown-notify a i.fa {
    color: #effa4f;
    font-size:20px;
    padding-right:15px;
    padding-top:4px;
}
.dropdown-notify a.dropdown-toggle
{
    color:transparent;
}
.dropdown-notify a span.badge {
    position: absolute;
    width: 17px;
    height: 17px;
    background: #EC3039;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: #fff;
    font-weight: bold;
    top: -11px;
    right: 23px;
}
.dropdown-navbar > li {
    padding: 8px;
    background-color: #FFF;
   line-height:0;
}

        .dropdown-navbar > li.dropdown-header {
            text-shadow: none;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 34px;
            font-size: 13px;
            font-weight: 700;
            text-transform: none;
            border-bottom: 1px solid
        }

    .dropdown-navbar > li > .ace-icon, .dropdown-navbar > li > a > .ace-icon {
        margin-right: 5px !important;
        color: #025e2e;
        font-size: 14px;
    }

        .dropdown-navbar > li > a {
            padding: 10px 2px;
            margin: 0;
            border-top: 1px solid;
            font-size: 12px; 
            color: #555 !important;
            background-color: transparent !important;
            white-space: normal;
            border-top-color: #E4ECF3
        }

            .dropdown-navbar > li > a .progress {
                margin-bottom: 0;
                margin-top: 4px
            }

            .dropdown-navbar > li > a .badge {
                line-height: 16px;
                padding-right: 4px;
                padding-left: 4px;
                font-size: 12px
            }

        .dropdown-navbar > li.dropdown-header + li > a, .dropdown-navbar > li:first-child > a {
            border-top-width: 0
        }

    .dropdown-navbar > li.dropdown-footer > a {
        color: #025e2e !important;
        text-align: center;
        font-size: 13px
    }

            .dropdown-navbar > li.dropdown-footer > a:hover {
                background-color: #FFF;
                text-decoration: underline
            }

                .dropdown-navbar > li.dropdown-footer > a:hover > .ace-icon {
                    text-decoration: none
                }

        .dropdown-navbar > li:hover {
            background-color: #F4F9FC
        }

    .dropdown-navbar > li.dropdown-header {
        background-color: #67a961;
        color: #ffffff;
        border-bottom-color: #67a961;
    }

        .dropdown-navbar > li.dropdown-header > .ace-icon {
            color: #ffffff
        }

    .dropdown-navbar.navbar-pink {
        border-color: #E5BCD4
    }

        .dropdown-navbar.navbar-pink > li:hover {
            background-color: #FCF4F9
        }

        .dropdown-navbar.navbar-pink > li.dropdown-header {
            background-color: #F7ECF2;
            color: #B471A0;
            border-bottom-color: #E5BCD4
        }

            .dropdown-navbar.navbar-pink > li.dropdown-header > .ace-icon {
                color: #C06090
            }

        .dropdown-navbar.navbar-pink > li > a {
            border-top-color: #F3E4EC
        }

    .dropdown-navbar.navbar-grey {
        border-color: #E5E5E5
    }

        .dropdown-navbar.navbar-grey > li:hover {
            background-color: #F8F8F8
        }

        .dropdown-navbar.navbar-grey > li.dropdown-header {
            background-color: #F2F2F2;
            color: #3A87AD;
            border-bottom-color: #E5E5E5
        }

            .dropdown-navbar.navbar-grey > li.dropdown-header > .ace-icon {
                color: #3A87AD
            }

        .dropdown-navbar.navbar-grey > li > a {
            border-top-color: #EEE
        }

    .dropdown-navbar.navbar-green {
        border-color: #B4D5AC
    }

        .dropdown-navbar.navbar-green > li:hover {
            background-color: #F4F9EF
        }

        .dropdown-navbar.navbar-green > li.dropdown-header {
            background-color: #EBF7E4;
            color: #8A6;
            border-bottom-color: #B4D5AC
        }

            .dropdown-navbar.navbar-green > li.dropdown-header > .ace-icon {
                color: #90C060
            }

        .dropdown-navbar.navbar-green > li > a {
            border-top-color: #ECF3E4
        }

    .dropdown-navbar [class*=btn].ace-icon {
        display: inline-block;
        margin: 0 5px 0 0;
        width: 24px;
        text-align: center;
        padding-left: 0;
        padding-right: 0
    }

    .dropdown-navbar .msg-photo {
        max-width: 42px;
        float: left;
        margin-top: 2px
    }

    .dropdown-navbar .msg-body {
        display: block;
        line-height: 20px;
        white-space: normal;
        margin-left: 50px
    }

    .dropdown-navbar .msg-title {
        display: inline-block;
        line-height: 14px;
        font-size:14px
    }

    .dropdown-navbar .msg-time {
        display: block;
        font-size: 11px;
        color: #777
    }

        .dropdown-navbar .msg-time > .ace-icon {
            font-size: 14px;
            color: #555
        }

    .dropdown-navbar > .dropdown-content {
        padding: 0
    }

        .dropdown-navbar > .dropdown-content .dropdown-navbar {
            list-style: none;
            margin: 0;
            padding: 0 !important;
            -webkit-box-shadow: none;
            box-shadow: none;
            width: auto;
            display: block;
            float: none;
            border-width: 0;
            position: static;
            z-index: auto
        }

    .dropdown-navbar .nav-tabs {
        border-width: 0;
        box-shadow: none;
        background-color: #F9F9F9 !important;
        top: auto;
        width: 100%
    }

        .dropdown-navbar .nav-tabs > li {
            display: table-cell;
            width: 1%;
            float: none !important
        }

            .dropdown-navbar .nav-tabs > li > a {
                margin: 0 0 0 1px !important;
                text-align: center;
                box-shadow: none !important;
                background-color: #F9F9F9 !important;
                border-width: 0 !important;
                border-bottom: 2px solid #BECAD1 !important
            }

                .dropdown-navbar .nav-tabs > li > a:before {
                    display: block;
                    content: "";
                    position: absolute;
                    left: -1px;
                    top: 3px;
                    bottom: 3px;
                    width: 1px;
                    background-color: #BECAD1
                }

            .dropdown-navbar .nav-tabs > li:first-child > a {
                margin-left: 0 !important
            }

                .dropdown-navbar .nav-tabs > li:first-child > a:before {
                    display: none
                }

            .dropdown-navbar .nav-tabs > li.active > a {
                border-bottom: 2px solid #00933f !important;
                color: #5085AF !important;
                background-color: #ECF2F7 !important
            }

    .dropdown-navbar .tab-content {
        padding: 0 !important;
        border-color: #FFF !important
    }

        .dropdown-navbar .tab-content .dropdown-menu {
            display: block;
            position: static;
            margin: 0 !important;
            padding-top: 2px;
            border-color: #FFF !important;
            box-shadow: none !important;
            width: 100%
        }

    .dropdown-navbar.navbar-pink .nav-tabs > li.active > a {
        border-bottom: 2px solid #E5BCD4 !important;
        color: #C06090 !important;
        background-color: #F7ECF2 !important
    }

    .dropdown-navbar.navbar-pink .nav-tabs > li:not(.active) > a:hover {
        color: #BA7396
    }

    .dropdown-navbar.navbar-pink .nav-tabs > li > a:before {
        background-color: #CEBBCB
    }

    .dropdown-navbar.navbar-pink .nav-tabs > li > a {
        border-bottom-color: #CEBBCD !important
    }
.sidebar .nav-wrap + .ace-scroll {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.sidebar .nav-wrap + .scrollout {
    right: -8px
}

.sidebar .submenu.sub-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.ace-scroll, .scroll-content {
    overflow: hidden
}

.scroll-content {
    position: static; 
}

.scroll-disabled.ace-scroll, .scroll-disabled.ace-scroll .scroll-content {
    overflow: visible
}

.scroll-track {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
    height: auto;
    background-color: #E7E7E7;
    z-index: 99;
    width: 0;
    opacity: 0
}

.scroll-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    background: #bbd4e5
}

.scroll-track.scroll-hz {
    top: auto;
    left: auto;
    right: auto;
    bottom: 0;
    height: 8px;
    width: auto
}

.scroll-hz .scroll-bar {
    height: inherit;
    width: auto
}

.scroll-track.scroll-active {
    -webkit-transition: width .25s ease .75s,opacity .25s ease .75s;
    -o-transition: width .25s ease .75s,opacity .25s ease .75s;
    transition: width .25s ease .75s,opacity .25s ease .75s
}

.ace-scroll:hover .scroll-active, .scroll-active.scroll-track.active, .scroll-active.scroll-track.scroll-hover, .scroll-active.scroll-track:active, .scroll-active.scroll-track:hover {
    width: 8px;
    opacity: 1;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.scroll-track.active > .scroll-bar {
    transition-property: none !important;
    transition-duration: 0s !important
}

.scroll-track.scroll-margin {
    margin-left: -1px
}

.scroll-track.scroll-left {
    right: auto;
    left: 0
}

    .scroll-track.scroll-left.scroll-margin {
        margin-left: 1px
    }

.scroll-track.scroll-top {
    bottom: auto;
    top: 0
}

    .scroll-track.scroll-top.scroll-margin {
        top: 1px
    }

.scroll-dark .scroll-bar {
    background-color: transparent;
    background-color: rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#40000000', GradientType=0 )
}

.scroll-track.scroll-dark {
    background-color: transparent;
    background-color: rgba(0,0,0,.15);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000', GradientType=0 )
}

.scroll-light .scroll-bar {
    background-color: transparent;
    background-color: rgba(0,0,0,.14);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24000000', endColorstr='#24000000', GradientType=0 )
}

.scroll-track.scroll-light {
    background-color: transparent;
    background-color: rgba(0,0,0,.07);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#12000000', GradientType=0 )
}

.scroll-white .scroll-bar {
    background-color: transparent;
    background-color: rgba(255,255,255,.33);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55FFFFFF', endColorstr='#55FFFFFF', GradientType=0 )
}

.scroll-track.scroll-white {
    background-color: transparent;
    background-color: rgba(255,255,255,.2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33FFFFFF', endColorstr='#33FFFFFF', GradientType=0 )
}

.no-track.scroll-track {
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( enabled=false )
}

.scroll-track.scroll-visible {
    opacity: 1;
    width: 8px
}

.scroll-hz.scroll-visible {
    height: 8px;
    width: auto
}

.ace-scroll:hover .scroll-thin.scroll-track, .scroll-thin.scroll-track.active, .scroll-thin.scroll-track.scroll-hover, .scroll-thin.scroll-track.scroll-visible, .scroll-thin.scroll-track:active, .scroll-thin.scroll-track:hover {
    width: 6px
}

.ace-scroll:hover .scroll-thin.scroll-hz, .scroll-thin.scroll-hz.active, .scroll-thin.scroll-hz.scroll-hover, .scroll-thin.scroll-hz.scroll-visible, .scroll-thin.scroll-hz:active, .scroll-thin.scroll-hz:hover {
    width: auto;
    height: 6px
}

.scroll-chrome.scroll-active .scroll-bar {
    background-color: transparent;
    width: 11px
}

    .scroll-chrome.scroll-active .scroll-bar:before {
        display: block;
        content: "";
        position: absolute;
        top: 1px;
        bottom: 3px;
        left: 1px;
        right: 1px;
        background-color: #D9D9D9;
        border: 1px solid #BBB;
        border-radius: 1px
    }

.scroll-chrome.scroll-active .scroll-track {
    width: 12px;
    background-color: #F2F2F2;
    border: 1px solid;
    border-width: 1px 0 1px 1px;
    border-color: #E6E6E6 transparent #E6E6E6 #DBDBDB
}

    .scroll-chrome.scroll-active .scroll-track:hover .scroll-bar:before {
        background-color: silver;
        border-color: #A6A6A6
    }

    .scroll-chrome.scroll-active .scroll-track.active .scroll-bar:before {
        background-color: #A9A9A9;
        border-color: #8B8B8B
    }

.scroll-active.scroll-track.idle-hide {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 8px
}

    .scroll-active.scroll-track.idle-hide.not-idle {
        width: 8px;
        opacity: 1;
        filter: alpha(opacity=100)
    }

.scroll-active.scroll-thin.scroll-track.idle-hide {
    width: 6px
}

.scroll-active.scroll-chrome .scroll-track.idle-hide {
    width: 12px
}

.nav-wrap + .scroll-active .scroll-track {
    width: 8px
}

.nav-scroll.scroll-active .scroll-track {
    width: 8px;
    right: 0
}

.nav-scroll.scroll-active:hover .scroll-track, .nav-wrap:hover + .scroll-active .scroll-track {
    width: 8px;
    opacity: 1;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.nav-scroll.scroll-active:hover .scroll-track {
    width: 8px
}

.nav-scroll.ace-scroll, .nav-scroll.ace-scroll .scroll-content {
    overflow: hidden
}

    .modal.aside-vc, .nav-scroll.ace-scroll.scroll-disabled, .nav-scroll.ace-scroll.scroll-disabled .scroll-content {
        overflow: visible
    }

.scroll-track.scroll-detached {
    position: absolute;
    z-index: 1029;
    bottom: auto;
    right: auto
}

ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close.show {
    display: block;
    
}

ul.dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close {
    display: none;
}
ul.thongbao-box li.dropdown-header:first-child:after {
    top: -17px !important;
    position: absolute !important;
    right: 36px !important;
    content: "\f0de" !important;
    font-family: 'FontAwesome';
}
ul.thongbao-box li.dropdown-footer:last-child:after {
    content: "";
}
/*Notification*/
